header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid darkcyan;
    
    
}

li {
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
}
h2 {
    color: darkcyan;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}